@font-face {
    font-family: 'pricedow';
    src: url('../fonts/pricedow.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'popins-black';
    src: url('../fonts/Poppins-Black.woff2') format('woff2'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Cybrpnuk2';
    src: url('../fonts/Cybrpnuk2.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'); 
    font-weight: normal; 
    font-style: normal; 
}

body {
    background-image: url('../img/bg_garage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-family: 'pricedow';
    font-size: 100px;
    color: #fff;
    text-align: center;
    -webkit-text-stroke: 1px black;
    margin-top: 0px;
}
.weapon-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    margin: 20px auto; 
    position: relative; 
    z-index: 1; 
    padding: 20px; 
    max-width: 950px; 
}

.weapon-item {
    position: relative;
    height: 200px; 
    overflow: hidden;
    border-radius: 10px;
}

.weapon-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease; 
}

.weapon-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'pricedow';
    -webkit-text-stroke: 1px black;
    font-size: 30px;
}

.back-button {
    margin: 20px;
    font-family: 'Cybrpnuk2';
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.back-button:hover {
    background: #000;
    color: #fff;
}

.weapon-background {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 0; 
    border-radius: 10px; 
}

.weapon-item:hover img {
    transform: scale(1.03); 
}


.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 1000; 
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    width: 400px; 
    max-width: 90%; 
    background: rgba(0, 0, 0, 1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center; 
}

.popup-image {
    width: 100%; 
    max-width: 200px;
    margin: 0 auto 15px; 
    display: block; 
    border-radius: 8px; 
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}


#popup {
    font-family: 'pricedow', 'montserrat'; 
}


#popup-title {
    font-family: 'pricedow';
    font-size: 40px; 
    font-weight: bold; 
    color: #fff;
    -webkit-text-stroke: 0.3px black;
}


#popup-text {
    font-family: 'montserrat';
    font-size: 16px; 
    line-height: 1.5; 
    color: #fff;
}


@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@keyframes popupScale {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

